<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
     xmlns:atom="http://www.w3.org/2005/Atom"
     xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>{{ site_name }}</title>
    <link>{{ page_url }}/index.xml</link>
	<language>en-us</language>
	<image>
		<title>{{ site_name }}</title>
		<link>{{ site_url }}</link>
		<url>{{ site_url }}{{ favicon }}</url>
		<width>48</width>
		<height>48</height>
	</image>
    <atom:link href="{{ page_url }}" rel="self" type="application/rss+xml" />
    <description>{{ site_description }}</description>
    <pubDate>{{ exhibits["all"][0]["date"] }}</pubDate>
    <docs>http://blogs.law.harvard.edu/tech/rss</docs>
	<category>technology</category>

    {% for item in exhibits["all"] %}
    <item>
       <title>{{ item.title }}</title>
       <description>{{ item.preview|safe }}</description>
       <pubDate>{{ item.date }}</pubDate>
       <guid isPermaLink="true">{{ item.href }}</guid>
       <link>{{ item.href }}</link>
       <dc:creator><![CDATA[Charlotte]]></dc:creator>
    </item>
    {% endfor %}
  </channel>
</rss>
