<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Building a blog with barely | notablog.</title>
<meta name="description" content="Building a blog upon the foundations of a static site generator might appear to be counterintuitive. After all, aren't frequent updates the point, and blogs th" />
<meta name="keywords" content="desire ./ p h3table, blueprint ./ p ptry, quot ;] }} {{, bevy, python, appropriately ./ p h2setting, developer blog, :/ p ul licloning, div class =& quot, rust" />
<meta name="robots" content="all" />
<link rel="shortcut icon" type="image/x-icon" href="/res/favicon.ico">
<meta property="og:title" content="Building a blog with barely">
<meta property="og:description" content="Building a blog upon the foundations of a static site generator might appear to be counterintuitive. After all, aren't frequent updates the point, and blogs th">
<meta property="og:image" content="https://notablog.io/res/socialcover.png">
<meta property="og:url" content="https://notablog.io/blog/2022-04-01-building-a-blog-with-barely/index.html">
<meta property="og:site_name" content="notablog.">
<meta name="twitter:image:alt" content="Building a blog upon the foundations of a static site generator might appear to be counterintuitive. After all, aren't frequent updates the point, and blogs th">
<meta name="twitter:card" content="summary_card_large">
	<meta name="theme-color" content="#222222">
	<link rel="stylesheet" href="/res/style.css" />
	<link rel="stylesheet" href="/res/highlight/one-dark.css" />
	
</head>
<body class="">
	<div id="container">
		<ul id="header">
			<li><h2><a class="noborder" href="/">notablog.</a></h2></li>
			<li><a class="noborder accent" href="/blog">posts</a></li>
			<li><a class="noborder accent" href="/tags">tags</a></li>
			<li><a class="noborder accent" href="/rss/index.xml">rss</a></li>
			<li id="theme-li">
				<form id="themes">
					<input type="radio" name="theme--toggle" id="toggle--light" value="theme--light"/><label for="toggle--light">Switch to light theme</label><!--
					--><input type="radio" name="theme--toggle" id="toggle--dark" value="theme--dark"/><label for="toggle--dark">Switch to dark theme</label><!--
					--><input type="radio" name="theme--toggle" id="toggle--rust" value="theme--rust"/><label for="toggle--rust">Switch to rust theme</label>
				</form>
			</li>
		</ul>
		
<div class="blogpost">
	<p class="quickinfo"><span class="unfocus">2022-04-07</span> / <a class="accent noborder" href="/tags/barely">#barely</a> /
		<span class="unfocus">7 - 21 min</span>
	</p>
	<h1>Building a blog with barely</h1>
	<div class="socials">
	<div class="hoveraccent" onclick="window.toast('Building a blog with barely - read more at: https://notablog.io/blog/2022-04-01-building-a-blog-with-barely')" target="_blank"><img src="/res/icons/share.svg" alt="copy link"></div>
	<a class="hoveraccent" href="https://www.reddit.com/submit?url=https://notablog.io/blog/2022-04-01-building-a-blog-with-barely&title=Building a blog with barely" target="_blank"><img src="/res/icons/reddit.svg" alt="reddit"></a>
	<!-- <a class="hoveraccent" href="#" target="_blank"><img src="/res/icons/discord.svg" alt="discord"></a> -->
	<a class="hoveraccent" href="https://news.ycombinator.com/submitlink?u=https://notablog.io/blog/2022-04-01-building-a-blog-with-barely&t=Building a blog with barely" target="_blank"><img src="/res/icons/ycombinator.svg" alt="y combinator"></a>
	<a class="hoveraccent" href="https://twitter.com/intent/tweet?text=Building a blog with barelyhttps://notablog.io/blog/2022-04-01-building-a-blog-with-barely" target="_blank"><img src="/res/icons/twitter.svg" alt="twitter"></a>
	<a class="hoveraccent" href="https://www.facebook.com/sharer/sharer.php?u=https://notablog.io/blog/2022-04-01-building-a-blog-with-barely&quote=Building a blog with barely" target="_blank"><img src="/res/icons/facebook.svg" alt="facebook"></a>
</div>
	<p>Building a blog upon the foundations of a static site generator might appear to be counterintuitive. After all, aren't frequent updates the point, and blogs therefore inherently dynamic? But alas: we can have our cake and eat it, too!</p>
	<hr class="blog-header--divider">
	
	<strong class="toc-title">Table of Contents:</strong>
	<div class="toc">
<ul>
<li>
<a href="#introduction">Introduction</a>
</li>
<li>
<a href="#setting-up-barely">Setting up barely</a>
</li>
<li>
<a href="#building-the-blog">Building the blog</a>
<ul>
<li>
<a href="#timestamps">Timestamps</a>
</li>
<li>
<a href="#reading-time">Reading time</a>
</li>
<li>
<a href="#table-of-contents">Table of Contents</a>
</li>
<li>
<a href="#collections">Collections</a>
</li>
<li>
<a href="#other-features">Other features</a>
</li>
</ul></li>
<li>
<a href="#comments-amp-search">Comments &amp; Search</a>
</li>
<li>
<a href="#publishing-your-blog">Publishing your blog</a>
<ul>
<li>
<a href="#defer-the-build-process-to-github-actions">Defer the build process to GitHub actions</a>
</li>
<li>
<a href="#host-the-build-with-cloudflare">Host the build with Cloudflare</a>
</li>
</ul></li>
<li>
<a href="#the-result">The result</a>
</li>
</ul>
</div>
	
	
	<blockquote>
		<p>All code examples are available in <a href="https://github.com/charludo/barely/tree/main/barely/blueprints/blog/" target="_blank">this GitHub repository</a>!</p>
	</blockquote>
	
	<div class="postbody">
		<h2 id="introduction">Introduction</h2>
<p>In this blog post, we are going to build a blog. Or rather, we are going to build <em>this</em> blog. (I know, a fitting topic for the first post on here, isn't it?) Rather than build it by hand or with the help of a bulky CMS however, we are going to use the static site generator <a target="_blank" href="https://buildwithbarely.org">barely</a>.</p>
<p>Apart from a slew of quality of life features (like hot reloading, SASS compilation and automatic .webp conversion), barely also offers us everything we need to build a blog &quot;out of the box&quot;, most importantly a collection system to organize our posts into categories and link them appropriately.</p>
<h2 id="setting-up-barely">Setting up barely</h2>
<p>First, let's install barely inside a Python virtual environment, create a new project and build it.</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span>
<span class="normal">2</span>
<span class="normal">3</span>
<span class="normal">4</span>
<span class="normal">5</span>
<span class="normal">6</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="hlgp">$ </span>python -m venv .venv
<span class="hlgp">$ </span>. .venv/bin/activate
<span class="hlgp">$ </span>pip install barely
<span class="hlgp">$ </span>barely new
<span class="hlgp">$ </span><span class="hlnb">cd</span> devroot
<span class="hlgp">$ </span>barely rebuild -s
</pre></div>
</td></tr></table></hl>
<p>Your favorite browser should open and greet you with the rendered version of the project. Any changes you make from now on will immediately be reflected in the browser.</p>
<p>If we have a look in the <code>config.yaml</code> file, we can see that right now, it only contains information on where our project lives:</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span>
<span class="normal">2</span>
<span class="normal">3</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="hlnt">ROOT</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">DEV</span><span class="hlp">:</span><span class="hlw"> </span><span class="hls">&quot;/path/to/devroot&quot;</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">WEB</span><span class="hlp">:</span><span class="hlw"> </span><span class="hls">&quot;/path/to/webroot&quot;</span><span class="hlw"></span>
</pre></div>
</td></tr></table></hl>
<p>We will gradually be extending this file with the configuration of a number of the plugins barely ships with. Let us start simple, however: with a &quot;Hello World!&quot; blog post.</p>
<h2 id="building-the-blog">Building the blog</h2>
<p>In the <code>templates</code> directory, create a new file <code>post.html</code>. Here, we define the structure of our blog posts. Initially, all we want is to display the title of the post and its content:</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal"> 1</span>
<span class="normal"> 2</span>
<span class="normal"> 3</span>
<span class="normal"> 4</span>
<span class="normal"> 5</span>
<span class="normal"> 6</span>
<span class="normal"> 7</span>
<span class="normal"> 8</span>
<span class="normal"> 9</span>
<span class="normal">10</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span>{% extends &quot;partials/base.html&quot; %}

{% block body %}
<span class="hlp">&lt;</span><span class="hlnt">div</span> <span class="hlna">class</span><span class="hlo">=</span><span class="hls">&quot;blogpost&quot;</span><span class="hlp">&gt;</span>
    <span class="hlp">&lt;</span><span class="hlnt">h1</span><span class="hlp">&gt;</span>{{ title }}<span class="hlp">&lt;/</span><span class="hlnt">h1</span><span class="hlp">&gt;</span>
    <span class="hlp">&lt;</span><span class="hlnt">div</span> <span class="hlna">class</span><span class="hlo">=</span><span class="hls">&quot;postbody&quot;</span><span class="hlp">&gt;</span>
        {{ content }}
    <span class="hlp">&lt;/</span><span class="hlnt">div</span><span class="hlp">&gt;</span>
<span class="hlp">&lt;/</span><span class="hlnt">div</span><span class="hlp">&gt;</span>
{% endblock %}
</pre></div>
</td></tr></table></hl>
<p>The first line simply states that we'd like to extend the (already existing) <code>base.html</code> template, so we won't have to worry about including stylesheets, adding <code>&lt;meta&gt;</code> tags, or building a menu in this file. Instead, all we care about is the content of the page, which is wrapped in a jinja block called body.</p>
<p>To utilize this template, create a new file <code>/blog/hello-world/post.md</code>, and paste the following into it:</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span>
<span class="normal">2</span>
<span class="normal">3</span>
<span class="normal">4</span>
<span class="normal">5</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span>---
<span class="hlgu">title: Hello World!</span>
<span class="hlgu">---</span>

This is the content of our &quot;Hello World&quot; post!
</pre></div>
</td></tr></table></hl>
<p>If you are unclear on how the yaml configuration at the top of the file works, check out <a target="_blank" href="https://buildwithbarely.org/features/yaml/">this introduction</a>. To see your post, navigate to <a target="_blank" href="http://127.0.0.1:5500/blog/hello-world/">http://127.0.0.1:5500/blog/hello-world/</a>.</p>
<p>Alright, a title and some content are good, but not exactly a fully featured blog yet. So let's take it from the top.</p>
<h3 id="timestamps">Timestamps</h3>
<p>A common feature in blogs are created on / edited on timestamps. These are helpful to your readers to allow them to quickly gauge whether a post is still relevant to them (&quot;The hottest Windows tips &amp; tricks - written 1999-12-01&quot; is probably not what they are looking for in 2022, for example...)</p>
<p>An easy way to convey this information is to add a <code>created</code> field below our title:</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span>
<span class="normal">2</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="hlnt">title</span><span class="hlp">:</span><span class="hlw">  </span><span class="hls">&quot;Hello</span><span class="hlnv"> </span><span class="hls">World!&quot;</span><span class="hlw"></span>
<span class="hlnt">created</span><span class="hlp">:</span><span class="hlw"> </span><span class="hls">&quot;2022-04-01&quot;</span><span class="hlw"></span>
</pre></div>
</td></tr></table></hl>
<p>which may then be displayed in the post template:</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span>
<span class="normal">2</span>
<span class="normal">3</span>
<span class="normal">4</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span>...
<span class="hlp">&lt;</span><span class="hlnt">p</span><span class="hlp">&gt;</span>{{ created }}<span class="hlp">&lt;/</span><span class="hlnt">p</span><span class="hlp">&gt;</span>
<span class="hlp">&lt;</span><span class="hlnt">h1</span><span class="hlp">&gt;</span>{{ title }}<span class="hlp">&lt;/</span><span class="hlnt">h1</span><span class="hlp">&gt;</span>
...
</pre></div>
</td></tr></table></hl>
<p>However, an even easier way is to enable the Timestamps plugin included in barely, which provides created and edited timestamps. In your <code>config.yaml</code>, add:</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span>
<span class="normal">2</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="hlnt">TIMESTAMPS</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">FORMAT</span><span class="hlp">:</span><span class="hlw"> </span><span class="hls">&quot;%Y-%m-%d&quot;</span><span class="hlw"></span>
</pre></div>
</td></tr></table></hl>
<p>We would like to always display the created date, but only display the edited date if it diverges from the creation timestamp. Thankfully, jinja allows for conditional blocks:</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="hlp">&lt;</span><span class="hlnt">p</span><span class="hlp">&gt;</span>{{ created }}{% if edited != created %} (edited: {{ edited }}){% endif %}<span class="hlp">&lt;/</span><span class="hlnt">p</span><span class="hlp">&gt;</span>
</pre></div>
</td></tr></table></hl>
<p>Feel free to adjust the date format to your liking.</p>
<h3 id="reading-time">Reading time</h3>
<p>Similarly of interest to readers is an estimate of how long a given blog post is. Again, we could simply estimate this manually for every post. But the job of a static site generator is to make our lives easier! The ReadingTime plugin is enabled by default. All we need to do is include its field in the post template:</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span>
<span class="normal">2</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="hlp">&lt;</span><span class="hlnt">p</span><span class="hlp">&gt;</span>{{ created }}{% if edited != created %} (edited: {{ edited }}){% endif %}<span class="hlp">&lt;/</span><span class="hlnt">p</span><span class="hlp">&gt;</span>
<span class="hlp">&lt;</span><span class="hlnt">p</span><span class="hlp">&gt;</span>{{ reading_time }} min<span class="hlp">&lt;/</span><span class="hlnt">p</span><span class="hlp">&gt;</span>
</pre></div>
</td></tr></table></hl>
<p>This will print something like &quot;4 - 7 min&quot; above each post. The upper and lower words per minute estimates can be configured in <code>config.yaml</code>, should you so desire.</p>
<h3 id="table-of-contents">Table of Contents</h3>
<p>This one is not strictly necessary, but personally I really appreciate blogs which provide a table of contents. It allows me to quickly jump to the section I'm actually interested in.</p>
<p>With barely, the ToC plugin is enabled by default. All you need to do is place it within the <code>post.html</code> template:</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span>
<span class="normal">2</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="hlp">&lt;</span><span class="hlnt">strong</span><span class="hlp">&gt;</span>Table of Contents:<span class="hlp">&lt;/</span><span class="hlnt">strong</span><span class="hlp">&gt;</span>
{{ toc }}
</pre></div>
</td></tr></table></hl>
<p>For our blog, I have decided to never use <code>&lt;h1&gt;</code> headings within the post body. This size is reserved for the title of the post. The ToC doesn't know this, so an unnecessary layer is currently being generated. Additionally, I'd like to use ordered (numbered) lists instead of unordered (bullet point) lists. Appending the config with</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span>
<span class="normal">2</span>
<span class="normal">3</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="hlnt">TOC</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">LIST_ELEMENT</span><span class="hlp">:</span><span class="hlw"> </span><span class="hls">&quot;ol&quot;</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">MIN_DEPTH</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">2</span><span class="hlw"></span>
</pre></div>
</td></tr></table></hl>
<p>has the desired effects.</p>
<h3 id="collections">Collections</h3>
<p>This is the most important feature of our blog, and the last one we will look at in depth. We want to associate categories or tags with our posts, and be able to quickly see all other posts in the same category. Ideally, this should happen automatically, without us having to edit several category pages every time a new post is published.</p>
<p>barely calls this feature <em>collections</em>. Pages can be part of any number of collections, and can exhibit any number of collections. Additionally, barely can generate a page for every collection listing all associated posts, as well as an overview page listing all collections.</p>
<p>It's easiest to understand when seen in action, so let's append our project configuration once more:</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span>
<span class="normal">2</span>
<span class="normal">3</span>
<span class="normal">4</span>
<span class="normal">5</span>
<span class="normal">6</span>
<span class="normal">7</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="hlnt">COLLECTIONS</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">PAGE</span><span class="hlp">:</span><span class="hlw"> </span><span class="hls">&quot;tags&quot;</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">COLLECTION_TEMPLATE</span><span class="hlp">:</span><span class="hlw"> </span><span class="hls">&quot;tag.html&quot;</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">OVERVIEW_TEMPLATE</span><span class="hlp">:</span><span class="hlw"> </span><span class="hls">&quot;overview.html&quot;</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">OVERVIEW_TITLE</span><span class="hlp">:</span><span class="hlw"> </span><span class="hls">&quot;List</span><span class="hlnv"> </span><span class="hls">of</span><span class="hlnv"> </span><span class="hls">all</span><span class="hlnv"> </span><span class="hls">tags&quot;</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">ORDER_KEY</span><span class="hlp">:</span><span class="hlw"> </span><span class="hls">&quot;date&quot;</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">ORDER_REVERSE</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">true</span><span class="hlw"></span>
</pre></div>
</td></tr></table></hl>
<p>Alright, what are saying here? First, we tell the plugin that the path to the category pages is <code>/tags/</code>. Each individual collection page should be rendered using the <code>tag.html</code> template, which looks like this:</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal"> 1</span>
<span class="normal"> 2</span>
<span class="normal"> 3</span>
<span class="normal"> 4</span>
<span class="normal"> 5</span>
<span class="normal"> 6</span>
<span class="normal"> 7</span>
<span class="normal"> 8</span>
<span class="normal"> 9</span>
<span class="normal">10</span>
<span class="normal">11</span>
<span class="normal">12</span>
<span class="normal">13</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span>{% extends &quot;partials/base.html&quot; %}

{% block body %}
    <span class="hlp">&lt;</span><span class="hlnt">h1</span><span class="hlp">&gt;</span>Blogposts tagged with &quot;{{ title }}&quot;<span class="hlp">&lt;/</span><span class="hlnt">h1</span><span class="hlp">&gt;</span>
    {% for collectible in collectibles %}
        <span class="hlp">&lt;</span><span class="hlnt">div</span> <span class="hlna">class</span><span class="hlo">=</span><span class="hls">&quot;postpreview&quot;</span><span class="hlp">&gt;</span>
            <span class="hlp">&lt;</span><span class="hlnt">p</span><span class="hlp">&gt;</span>{{ collectible[&quot;date&quot;] }}<span class="hlp">&lt;/</span><span class="hlnt">p</span><span class="hlp">&gt;</span>
            <span class="hlp">&lt;</span><span class="hlnt">p</span><span class="hlp">&gt;</span>{{ collectible[&quot;reading_time&quot;] }} min<span class="hlp">&lt;/</span><span class="hlnt">p</span><span class="hlp">&gt;</span>
            <span class="hlp">&lt;</span><span class="hlnt">h2</span><span class="hlp">&gt;&lt;</span><span class="hlnt">a</span> <span class="hlna">href</span><span class="hlo">=</span><span class="hls">&quot;{{ collectible[&#39;href&#39;] }}&quot;</span><span class="hlp">&gt;</span>{{ collectible[&quot;title&quot;] }}<span class="hlp">&lt;/</span><span class="hlnt">a</span><span class="hlp">&gt;&lt;/</span><span class="hlnt">h2</span><span class="hlp">&gt;</span>
            <span class="hlp">&lt;</span><span class="hlnt">p</span><span class="hlp">&gt;</span>{{ collectible[&quot;preview&quot;] }}<span class="hlp">&lt;/</span><span class="hlnt">p</span><span class="hlp">&gt;</span>
        <span class="hlp">&lt;/</span><span class="hlnt">div</span><span class="hlp">&gt;</span>
    {% endfor %}
{% endblock %}
</pre></div>
</td></tr></table></hl>
<p>As we can see, we simply display the relevant data about each collectible, provided to us by the Collections plugin.</p>
<p><code>OVERVIEW_TEMPLATE</code> simply is the template for the overview over all available tags, with a title of <code>OVERVIEW_TITLE</code>:</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span>
<span class="normal">2</span>
<span class="normal">3</span>
<span class="normal">4</span>
<span class="normal">5</span>
<span class="normal">6</span>
<span class="normal">7</span>
<span class="normal">8</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span>{% extends &quot;partials/base.html&quot; %}

{% block body %}
    <span class="hlp">&lt;</span><span class="hlnt">h1</span><span class="hlp">&gt;</span>{{ title }}<span class="hlp">&lt;/</span><span class="hlnt">h1</span><span class="hlp">&gt;</span>
    {% for collection in collections_list %}
        <span class="hlp">&lt;</span><span class="hlnt">a</span> <span class="hlna">href</span><span class="hlo">=</span><span class="hls">&quot;{{ collection[&#39;href&#39;] }}&quot;</span><span class="hlp">&gt;</span>#{{ collection[&quot;name&quot;] }} {{ [collection[&quot;size&quot;]] }}<span class="hlp">&lt;/</span><span class="hlnt">a</span><span class="hlp">&gt;</span>
    {% endfor %}
{% endblock %}
</pre></div>
</td></tr></table></hl>
<p>The last two options of the configuration, <code>ORDER_KEY</code> and <code>ORDER_REVERSE</code> allow us to tell barely how to sort collectibles within collection pages or exhibitions. Here, we chose to sort by date, in descending order.</p>
<p>If you rebuilt the project right now, you might notice that neither the overview page, nor any collection pages are being generated. That's because we haven't created any collections yet! How do we do that? Well, we simply tell barely &quot;this post is part of that collection&quot;!</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span>
<span class="normal">2</span>
<span class="normal">3</span>
<span class="normal">4</span>
<span class="normal">5</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="hlnt">title</span><span class="hlp">:</span><span class="hlw">  </span><span class="hls">&quot;Hello</span><span class="hlnv"> </span><span class="hls">World!&quot;</span><span class="hlw"></span>
<span class="hlnt">created</span><span class="hlp">:</span><span class="hlw"> </span><span class="hls">&quot;2022-04-01&quot;</span><span class="hlw"></span>
<span class="hlnt">collections</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlp hlp-Indicator">-</span><span class="hlw"> </span><span class="hls">&quot;collection1&quot;</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlp hlp-Indicator">-</span><span class="hlw"> </span><span class="hls">&quot;collection2&quot;</span><span class="hlw"></span>
</pre></div>
</td></tr></table></hl>
<p>After saving, the changes won't immediately be available. That's because barely waits until shutting down to gather all collectibles, to make sure none is missed. Simply <code>Ctrl+C</code> in your console, then run <code>barely</code> again, and three new pages will have become available: <code>/tags/</code>, <code>/tags/collection1/</code>, and <code>/tags/collection2/</code>.</p>
<p>Neat!</p>
<h3 id="other-features">Other features</h3>
<p>These were the most important blog-specific features. There's loads of other stuff you might want to add: automatic resizing of pictures, automatic SEO, lexing &amp; highlighting of code snippets,...</p>
<p>These are not really blog specific however, and are covered in detail <a target="_blank" href="https://buildwithbarely.org/features/">here</a>!</p>
<h2 id="comments-amp-search">Comments &amp; Search</h2>
<p>&quot;Hold up!&quot; you might say at this point. &quot;There's something missing! What about comments, and search functionality?&quot; And you'd be right - we have not implemented these yet. However, that's less of an issue with barely, and more an issue of the nature of static websites.</p>
<p>We can't do database lookups to return search results - there's no database. If you really wanted to, you could use a solution like <a target="_blank" href="https://www.elastic.co/elasticsearch/">ElasticSearch</a> to pre-index your content and thus make it searchable in the browser.</p>
<p>For commenting, solutions exist as well. Most require you to include some JS snippet within your <code>post.html</code>, which then loads an external commenting system. To me, the disadvantages of commenting systems, not to mention the increased loading times, outweigh the benefits. I decided to simply link to GitHub discussions below my posts, since readers of this blog are likely to be technically inclined, and to already have a GitHub account anyway.</p>
<h2 id="publishing-your-blog">Publishing your blog</h2>
<p>There's multiple ways you can go about this. Option 1: run <code>barely rebuild</code>, then manually upload the result to your webserver. However, this will get annoying fast. Option 2: set up a very simple CD pipeline!</p>
<h3 id="defer-the-build-process-to-github-actions">Defer the build process to GitHub actions</h3>
<p>Yeah, you heard right! GitHub actions can do the heavy lifting for you. Simply create a repository for your blog and push your existing files to it.</p>
<p>You want your blog to be built every time you push to the main branch. The necessary steps are:</p>
<ul>
<li>cloning your project</li>
<li>installing barely</li>
<li>modifying <code>config.yaml</code> to reflect the new <code>ROOT</code> dirs</li>
<li>build the project</li>
<li>push the result to a new branch</li>
</ul>
<p>The following action does just that (though it could definitely be improved upon):</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal"> 1</span>
<span class="normal"> 2</span>
<span class="normal"> 3</span>
<span class="normal"> 4</span>
<span class="normal"> 5</span>
<span class="normal"> 6</span>
<span class="normal"> 7</span>
<span class="normal"> 8</span>
<span class="normal"> 9</span>
<span class="normal">10</span>
<span class="normal">11</span>
<span class="normal">12</span>
<span class="normal">13</span>
<span class="normal">14</span>
<span class="normal">15</span>
<span class="normal">16</span>
<span class="normal">17</span>
<span class="normal">18</span>
<span class="normal">19</span>
<span class="normal">20</span>
<span class="normal">21</span>
<span class="normal">22</span>
<span class="normal">23</span>
<span class="normal">24</span>
<span class="normal">25</span>
<span class="normal">26</span>
<span class="normal">27</span>
<span class="normal">28</span>
<span class="normal">29</span>
<span class="normal">30</span>
<span class="normal">31</span>
<span class="normal">32</span>
<span class="normal">33</span>
<span class="normal">34</span>
<span class="normal">35</span>
<span class="normal">36</span>
<span class="normal">37</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="hlnt">name</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">build</span><span class="hlw"></span>
<span class="hlnt">on</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">push</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">    </span><span class="hlnt">branches</span><span class="hlp">:</span><span class="hlw"> </span><span class="hlp hlp-Indicator">[</span><span class="hlw"> </span><span class="hlnv">main</span><span class="hlw"> </span><span class="hlp hlp-Indicator">]</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">pull_request</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">    </span><span class="hlnt">branches</span><span class="hlp">:</span><span class="hlw"> </span><span class="hlp hlp-Indicator">[</span><span class="hlw"> </span><span class="hlnv">main</span><span class="hlw"> </span><span class="hlp hlp-Indicator">]</span><span class="hlw"></span>
<span class="hlnt">jobs</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">  </span><span class="hlnt">build</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">    </span><span class="hlnt">runs-on</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">ubuntu-latest</span><span class="hlw"></span>
<span class="hlw">    </span><span class="hlnt">steps</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">    </span><span class="hlp hlp-Indicator">-</span><span class="hlw"> </span><span class="hlnt">uses</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">actions/checkout@v2</span><span class="hlw"></span>
<span class="hlw">    </span><span class="hlp hlp-Indicator">-</span><span class="hlw"> </span><span class="hlnt">name</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">Set up Python 3.9</span><span class="hlw"></span>
<span class="hlw">      </span><span class="hlnt">uses</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">actions/setup-python@v2</span><span class="hlw"></span>
<span class="hlw">      </span><span class="hlnt">with</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlnt">python-version</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">3.9</span><span class="hlw"></span>
<span class="hlw">    </span><span class="hlp hlp-Indicator">-</span><span class="hlw"> </span><span class="hlnt">name</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">Install barely</span><span class="hlw"></span>
<span class="hlw">      </span><span class="hlnt">run</span><span class="hlp">:</span><span class="hlw"> </span><span class="hlp hlp-Indicator">|</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlno">pip install --upgrade barely</span><span class="hlw"></span>
<span class="hlw">    </span><span class="hlp hlp-Indicator">-</span><span class="hlw"> </span><span class="hlnt">name</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">edit config.yaml</span><span class="hlw"></span>
<span class="hlw">      </span><span class="hlnt">run</span><span class="hlp">:</span><span class="hlw"> </span><span class="hlp hlp-Indicator">|</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlno">mv config.yaml old.yaml</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlno">echo -e &quot;ROOT:\n  DEV: $(pwd)\n  WEB: $(dirname $(pwd))/webroot\n&quot; &gt; config.yaml</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlno">echo &quot;$(tail -n +4 old.yaml)&quot; &gt;&gt; config.yaml</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlno">cat config.yaml</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlno">rm old.yaml</span><span class="hlw"></span>
<span class="hlw">    </span><span class="hlp hlp-Indicator">-</span><span class="hlw"> </span><span class="hlnt">name</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">build project</span><span class="hlw"></span>
<span class="hlw">      </span><span class="hlnt">run</span><span class="hlp">:</span><span class="hlw"> </span><span class="hlp hlp-Indicator">|</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlno">yes &quot;n&quot; | barely rebuild</span><span class="hlw"></span>

<span class="hlw">    </span><span class="hlp hlp-Indicator">-</span><span class="hlw"> </span><span class="hlnt">name</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">Push</span><span class="hlw"></span>
<span class="hlw">      </span><span class="hlnt">uses</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">s0/git-publish-subdir-action@develop</span><span class="hlw"></span>
<span class="hlw">      </span><span class="hlnt">env</span><span class="hlp">:</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlnt">REPO</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">self</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlnt">BRANCH</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">build</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlnt">FOLDER</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">../webroot</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlnt">GITHUB_TOKEN</span><span class="hlp">:</span><span class="hlw"> </span><span class="hll hll-Scalar hll-Scalar-Plain">${{ secrets.GITHUB_TOKEN }}</span><span class="hlw"></span>
<span class="hlw">        </span><span class="hlnt">MESSAGE</span><span class="hlp">:</span><span class="hlw"> </span><span class="hls">&quot;Build:</span><span class="hlnv"> </span><span class="hls">({sha})</span><span class="hlnv"> </span><span class="hls">{msg}&quot;</span><span class="hlw"></span>
</pre></div>
</td></tr></table></hl>
<h3 id="host-the-build-with-cloudflare">Host the build with Cloudflare</h3>
<p>While many static site hosting services exist, my personal favorite solution is <a target="_blank" href="https://pages.cloudflare.com/">Cloudflare Pages</a>. You simply login with GitHub, select your repository and branch, and... that's it. You're done. Optionally, you can configure a CNAME DNS record for a domain you own to point to your project, but Cloudflare does also provide you with a free .pages.dev subdomain.</p>
<p>The beauty of this solution is: you don't technically need to have barely installed anymore. Simply add a new blog post, push it to GitHub, and the action will build the project. Around one minute later, Cloudflare notices the changes and publishes them.</p>
<h2 id="the-result">The result</h2>
<p>If you'd like to see what a resulting blog might look like, look no further than... here! This blog builds upon what you have just read, both in terms of the project structure, as well as the publishing and hosting methods.</p>
<p>Of course, there's a lot of stuff we have not talked about: menus and footers, the home page, the RSS feed and CSS styling come to mind. These are not really blog-specific, however. If you'd still like to play around with the finished product, you luckily don't need to look further than barely itself: Starting with version 1.1.4, this blog comes bundled as a blueprint.</p>
<p>Try it out yourself!</p>
<hl><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span></pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="hlgp">$ </span>barely new --blueprint blog
</pre></div>
</td></tr></table></hl>

	</div>
	<blockquote class="comments">
		<p>This is a 100% static website. Therefore, no direct commenting method is available. However, feel free to <a href="https://github.com/charludo/blogrepo/discussions/new?title=Re: Building a blog with barely" target="_blank">discuss this article on GitHub</a>!
		</p>
	</blockquote>
	<div class="tags">
		
		
		
		<a class="accent" href="/tags/barely">#barely</a>
		
		
		
		<a class="accent" href="/tags/python">#python</a>
		
		
		
		
		
		
		
	</div>
	<div class="socials">
	<div class="hoveraccent" onclick="window.toast('Building a blog with barely - read more at: https://notablog.io/blog/2022-04-01-building-a-blog-with-barely')" target="_blank"><img src="/res/icons/share.svg" alt="copy link"></div>
	<a class="hoveraccent" href="https://www.reddit.com/submit?url=https://notablog.io/blog/2022-04-01-building-a-blog-with-barely&title=Building a blog with barely" target="_blank"><img src="/res/icons/reddit.svg" alt="reddit"></a>
	<!-- <a class="hoveraccent" href="#" target="_blank"><img src="/res/icons/discord.svg" alt="discord"></a> -->
	<a class="hoveraccent" href="https://news.ycombinator.com/submitlink?u=https://notablog.io/blog/2022-04-01-building-a-blog-with-barely&t=Building a blog with barely" target="_blank"><img src="/res/icons/ycombinator.svg" alt="y combinator"></a>
	<a class="hoveraccent" href="https://twitter.com/intent/tweet?text=Building a blog with barelyhttps://notablog.io/blog/2022-04-01-building-a-blog-with-barely" target="_blank"><img src="/res/icons/twitter.svg" alt="twitter"></a>
	<a class="hoveraccent" href="https://www.facebook.com/sharer/sharer.php?u=https://notablog.io/blog/2022-04-01-building-a-blog-with-barely&quote=Building a blog with barely" target="_blank"><img src="/res/icons/facebook.svg" alt="facebook"></a>
</div>
</div>

	</div>
	<div id="snackbar">Copied link!</div>
	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
	
	<script src="/res/theme.js"></script>
</body>
</html>